streamlit==1.14.0  # Updated from 1.10.0
joblib==1.2.0      # Updated from 1.1.0
numpy==1.23.1      # Updated from 1.22.3
pandas==1.5.0      # Updated from 1.4.1
scikit-learn==1.1.1 # Updated from 1.0.2
